.php_cs.cache

## Composer ##
composer.phar
plugins/CommonPlugin/vendor/katzgrau/klogger/*
!plugins/CommonPlugin/vendor/katzgrau/klogger/README.markdown
!plugins/CommonPlugin/vendor/katzgrau/klogger/src/

plugins/CommonPlugin/vendor/psr/log/*
!plugins/CommonPlugin/vendor/psr/log/LICENSE
!plugins/CommonPlugin/vendor/psr/log/Psr
plugins/CommonPlugin/vendor/psr/log/Psr/Log/Test/

plugins/CommonPlugin/vendor/fguillot/picofeed/*
!plugins/CommonPlugin/vendor/fguillot/picofeed/LICENSE
!plugins/CommonPlugin/vendor/fguillot/picofeed/lib/

plugins/CommonPlugin/vendor/chdemko/bitarray/*
!plugins/CommonPlugin/vendor/chdemko/bitarray/src
!plugins/CommonPlugin/vendor/chdemko/bitarray/cite.bib
!plugins/CommonPlugin/vendor/chdemko/bitarray/README.md

plugins/CommonPlugin/vendor/zendframework/zendxml/*
!plugins/CommonPlugin/vendor/zendframework/zendxml/library
!plugins/CommonPlugin/vendor/zendframework/zendxml/LICENSE.md
