.php_cs.cache
.phpunit.result.cache

## Composer ##
composer.phar
plugins/CommonPlugin/vendor/katzgrau/klogger/*
!plugins/CommonPlugin/vendor/katzgrau/klogger/README.markdown
!plugins/CommonPlugin/vendor/katzgrau/klogger/src/

plugins/CommonPlugin/vendor/psr/log/*
!plugins/CommonPlugin/vendor/psr/log/LICENSE
!plugins/CommonPlugin/vendor/psr/log/Psr
plugins/CommonPlugin/vendor/psr/log/Psr/Log/Test/

plugins/CommonPlugin/vendor/psr/container/*
!plugins/CommonPlugin/vendor/psr/container/LICENSE
!plugins/CommonPlugin/vendor/psr/container/src

plugins/CommonPlugin/vendor/chdemko/bitarray/*
!plugins/CommonPlugin/vendor/chdemko/bitarray/src
!plugins/CommonPlugin/vendor/chdemko/bitarray/cite.bib
!plugins/CommonPlugin/vendor/chdemko/bitarray/README.md

plugins/CommonPlugin/vendor/container-interop/container-interop/*
!plugins/CommonPlugin/vendor/container-interop/container-interop/LICENSE
!plugins/CommonPlugin/vendor/container-interop/container-interop/src

plugins/CommonPlugin/vendor/mouf/picotainer/*
!plugins/CommonPlugin/vendor/mouf/picotainer/src

plugins/CommonPlugin/vendor/jmathai/php-multi-curl/*
!plugins/CommonPlugin/vendor/jmathai/php-multi-curl/LICENSE
!plugins/CommonPlugin/vendor/jmathai/php-multi-curl/src/
plugins/CommonPlugin/vendor/jmathai/php-multi-curl/src/example.php

plugins/CommonPlugin/vendor/jasongrimes/paginator/*
!plugins/CommonPlugin/vendor/jasongrimes/paginator/LICENSE
!plugins/CommonPlugin/vendor/jasongrimes/paginator/src/

plugins/CommonPlugin/vendor/jdorn/sql-formatter/*
!plugins/CommonPlugin/vendor/jdorn/sql-formatter/LICENSE.txt
!plugins/CommonPlugin/vendor/jdorn/sql-formatter/lib/

plugins/CommonPlugin/vendor/pelago/emogrifier/*
!plugins/CommonPlugin/vendor/pelago/emogrifier/LICENSE
!plugins/CommonPlugin/vendor/pelago/emogrifier/src/

plugins/CommonPlugin/vendor/symfony/css-selector/*
!plugins/CommonPlugin/vendor/symfony/css-selector/CssSelectorConverter.php
!plugins/CommonPlugin/vendor/symfony/css-selector/LICENSE
!plugins/CommonPlugin/vendor/symfony/css-selector/Exception
!plugins/CommonPlugin/vendor/symfony/css-selector/Node
!plugins/CommonPlugin/vendor/symfony/css-selector/Parser
!plugins/CommonPlugin/vendor/symfony/css-selector/XPath

plugins/CommonPlugin/vendor/symfony/filesystem/*
!plugins/CommonPlugin/vendor/symfony/filesystem/LICENSE
!plugins/CommonPlugin/vendor/symfony/filesystem/Filesystem.php
!plugins/CommonPlugin/vendor/symfony/filesystem/LockHandler.php
!plugins/CommonPlugin/vendor/symfony/filesystem/Exception/
